{% extends "ajax/game/town/town.html.twig" %}
{% block title %}{{'Die Bürger'|trans({}, 'game')}}{% endblock %}
{% block content %}
    {% set hour = "now"|date("G") %}
    <div class="row">
        <div class="cell rw-12 town-banner town-banner-houses time-{{ hour }} {% if conf.isNightTime %}night{% endif %}"></div>
    </div>

    {% include 'ajax/game/town/citizen_list_headers.html.twig' with {active_tab: 'omniscience'} %}

    <div class="row-table citizens-list">
        <div class="row-flex header">
            <div class="padded cell rw-4 left rw-md-5">{{ 'Bürger'|trans({},'game') }}</div>
            <div class="padded cell rw-4 rw-md-2 center">{{ 'Truhe'|trans({},'game') }}</div>
            <div class="padded cell rw-2 rw-md-1 center">{{ 'Seele'|trans({},'soul') }}</div>
            <div class="padded cell rw-2 center">
                {{ 'Aktivität'|trans({},'game') }}<br />
                {{ help_btn('Dieser Wert spiegelt die Anwesenheit und Aktivität eines jeden Bürgers wider.'|trans({},'game')) }}
            </div>
        </div>
        {% for citizen in citizens|sort((a,b) => (a.infos.alive == b.infos.alive) ? ((a.infos.alive) ? a.infos.name|lower <=> b.infos.name|lower : b.infos.survivedDays <=> a.infos.survivedDays) : b.infos.alive <=> a.infos.alive) %}
            {% if citizen.infos.alive %}
            <div class="row {% if citizen.infos == me%} me{% endif %}" x-ajax-href="{{ path('town_visit', {id: citizen.infos.id}) }}">
                <div class="padded cell rw-1 rw-md-2">
                        <img alt="{{ citizen.infos.home.prototype.level }}" src="{{ asset('build/images/home/' ~ citizen.infos.home.prototype.icon ~ '.gif') }}" />
                </div>
                <div class="padded cell rw-3 rw-md-3 small">
                    <span>
                        {% if citizen.infos.profession.heroic %}
                            <img alt="" src="{{ asset('build/images/professions/hero.gif') }}" />
                        {% else %}
                            <img alt="" src="{{ asset('build/images/professions/void.gif') }}" />
                        {% endif %}
                        {% if citizen.infos.banished %}
                            <img alt="" src="{{ asset('build/images/icons/banished.gif') }}" />
                        {% endif %}
                        <img alt="{{ citizen.infos.profession.label|trans({},'game') }}" src="{{ asset('build/images/professions/' ~ citizen.infos.profession.icon ~ '.gif') }}" />
                        <b>{{ citizen.infos.name }}</b>
                    </span>
                </div>
                <div class="padded cell rw-4 rw-md-2 small">
                    {% if not hidden[citizen.infos.id] %}
                        {% if citizen.infos.home.chest.items|length == 0 %}
                            <em>{{ 'Leere Truhe'|trans({},'game') }}</em>
                        {% endif %}
                        <ul class="inventory borderless">
                            {% for item in citizen.infos.home.chest.items %}
                                {# @var \App\Entity\Item item #}
                                {% if (citizen == me or not item.prototype.hideInForeignChest) %}
                                    {% embed "ajax/game/item.html.twig" with {'item': item} %}{% endembed %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span>--</span>
                    {% endif %}

                </div>
                <div class="padded cell rw-2 rd-md-1 small">
                    {{ citizen.soulPoint }} {{ 'Punkt(e)'|trans({},'game') }}
                </div>
                <div class="padded cell rw-2 small center">
                {% if citizen.omniscienceLevel > 0 %}
                    {% for i in range(1, citizen.omniscienceLevel) %}<img src="{{ asset('build/images/icons/small_new.gif') }}" alt="*" />{% endfor %}
                {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}